extends base
block content
  // Hero Section
  include _hero
  // Trending Section
  section.trending-home
    .trending-home-header
      svg.trending-home-trending-icon(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 256 256')
        path(d='M244,56v64a12,12,0,0,1-24,0V85l-75.51,75.52a12,12,0,0,1-17,0L96,129,32.49,192.49a12,12,0,0,1-17-17l72-72a12,12,0,0,1,17,0L136,135l67-67H168a12,12,0,0,1,0-24h64A12,12,0,0,1,244,56Z')
      p Trending on Open Minder
    .trending-home-content-grid
      each blog in firstComp
        .trending-home-element
          .trending-home-element-flex
            div
              p.img-name-container
                img(src=`/img/users/${blog.author.photo}`)
                a(href=`/user/${blog.author._id}`).trending-home-element-flex-creator-name= blog.author.name
                if blog.author.verified
                  svg(class='verified-logo',xmlns="http://www.w3.org/2000/svg", width="32", height="32", fill="#000000", viewBox="0 0 256 256")
                    path(d="M225.86,102.82c-3.77-3.94-7.67-8-9.14-11.57-1.36-3.27-1.44-8.69-1.52-13.94-.15-9.76-.31-20.82-8-28.51s-18.75-7.85-28.51-8c-5.25-.08-10.67-.16-13.94-1.52-3.56-1.47-7.63-5.37-11.57-9.14C146.28,23.51,138.44,16,128,16s-18.27,7.51-25.18,14.14c-3.94,3.77-8,7.67-11.57,9.14C88,40.64,82.56,40.72,77.31,40.8c-9.76.15-20.82.31-28.51,8S41,67.55,40.8,77.31c-.08,5.25-.16,10.67-1.52,13.94-1.47,3.56-5.37,7.63-9.14,11.57C23.51,109.72,16,117.56,16,128s7.51,18.27,14.14,25.18c3.77,3.94,7.67,8,9.14,11.57,1.36,3.27,1.44,8.69,1.52,13.94.15,9.76.31,20.82,8,28.51s18.75,7.85,28.51,8c5.25.08,10.67.16,13.94,1.52,3.56,1.47,7.63,5.37,11.57,9.14C109.72,232.49,117.56,240,128,240s18.27-7.51,25.18-14.14c3.94-3.77,8-7.67,11.57-9.14,3.27-1.36,8.69-1.44,13.94-1.52,9.76-.15,20.82-.31,28.51-8s7.85-18.75,8-28.51c.08-5.25.16-10.67,1.52-13.94,1.47-3.56,5.37-7.63,9.14-11.57C232.49,146.28,240,138.44,240,128S232.49,109.73,225.86,102.82Zm-52.2,6.84-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z")

              p
                a(href=`/blog/${blog._id}`).trending-home-element-flex-blog= blog.shortTitle
              div.trending-home-element-sub-flex
                p.trending-home-element-sub-date= blog.dateString
                p.trending-home-element-sub-read-time= `${blog.readTime} min read`
                p.trending-home-element-sub-read-time= `${blog.views} views`
              div
                p.trending-home-tags= blog.tagString
              div 
                p.trending-home-categories= blog.categoryString
      
  // Article section
  section.article-section
    .article-container
      // Article
      each blog in secondComp
        .article
          .article-main-text
            p.img-name-container
              img(src=`/img/users/${blog.author.photo}`)
              a.trending-home-element-flex-creator-name(href=`/user/${blog.author._id}`)= blog.author.name
              if blog.author.verified
                  svg(class='verified-logo',xmlns="http://www.w3.org/2000/svg", width="32", height="32", fill="#000000", viewBox="0 0 256 256")
                    path(d="M225.86,102.82c-3.77-3.94-7.67-8-9.14-11.57-1.36-3.27-1.44-8.69-1.52-13.94-.15-9.76-.31-20.82-8-28.51s-18.75-7.85-28.51-8c-5.25-.08-10.67-.16-13.94-1.52-3.56-1.47-7.63-5.37-11.57-9.14C146.28,23.51,138.44,16,128,16s-18.27,7.51-25.18,14.14c-3.94,3.77-8,7.67-11.57,9.14C88,40.64,82.56,40.72,77.31,40.8c-9.76.15-20.82.31-28.51,8S41,67.55,40.8,77.31c-.08,5.25-.16,10.67-1.52,13.94-1.47,3.56-5.37,7.63-9.14,11.57C23.51,109.72,16,117.56,16,128s7.51,18.27,14.14,25.18c3.77,3.94,7.67,8,9.14,11.57,1.36,3.27,1.44,8.69,1.52,13.94.15,9.76.31,20.82,8,28.51s18.75,7.85,28.51,8c5.25.08,10.67.16,13.94,1.52,3.56,1.47,7.63,5.37,11.57,9.14C109.72,232.49,117.56,240,128,240s18.27-7.51,25.18-14.14c3.94-3.77,8-7.67,11.57-9.14,3.27-1.36,8.69-1.44,13.94-1.52,9.76-.15,20.82-.31,28.51-8s7.85-18.75,8-28.51c.08-5.25.16-10.67,1.52-13.94,1.47-3.56,5.37-7.63,9.14-11.57C232.49,146.28,240,138.44,240,128S232.49,109.73,225.86,102.82Zm-52.2,6.84-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z")
            a
              p
                a.article-blog-headline(href=`/blog/${blog._id}`)= blog.shortTitle
              p
                a.article-text(href=`/blog/${blog._id}`)= blog.shortDescription
            .article-sub-flex
              p= blog.dateString
              p= `${blog.readTime} min read`
              p= blog.tagString
              p= `${blog.views} views`
            div
              p.trending-home-categories= blog.categoryString
          .article-img
            a(href=`/blog/${blog._id}`)
              img.article-blog-img(src='img/local-img-1.jpg')
    .relative
      .more-articles-section
        p.more-articles-section-header Discover More
        .more-articles-section-links
          a(href='#') Art
          a(href='#') Artificial Intelligence
          a(href='#') Agriculture
          a(href='#') Book
          a(href='#') Career
          a(href='#') Coding
          a(href='#') Celebrity
          a(href='#') Creativity
          a(href='#') Cultural
          a(href='#') Discoveries
          a(href='#') Education
          a(href='#') Environment
          a(href='#') Entrepreneurship
          a(href='#') Fashion
        a.more-articles-section-topics(href='#') See more topics
      //- <img class="open-minder-gif" src="gif/open-minder-gif-logo.gif" />
      .stories-container
        .trending-home-header
          svg.trending-home-trending-icon(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 256 256')
            path(d='M244,56v64a12,12,0,0,1-24,0V85l-75.51,75.52a12,12,0,0,1-17,0L96,129,32.49,192.49a12,12,0,0,1-17-17l72-72a12,12,0,0,1,17,0L136,135l67-67H168a12,12,0,0,1,0-24h64A12,12,0,0,1,244,56Z')
          p Trending Stories
        each blog in thirdComp
          .article-story
            .article-main-text
              p.img-name-container-story
                img(src=`/img/users/${blog.author.photo}`)
                a.trending-home-element-flex-creator-name(href=`/user/${blog.author._id}`)= blog.author.name
                if blog.author.verified
                    svg(class='verified-logo',xmlns="http://www.w3.org/2000/svg", width="32", height="32", fill="#000000", viewBox="0 0 256 256")
                      path(d="M225.86,102.82c-3.77-3.94-7.67-8-9.14-11.57-1.36-3.27-1.44-8.69-1.52-13.94-.15-9.76-.31-20.82-8-28.51s-18.75-7.85-28.51-8c-5.25-.08-10.67-.16-13.94-1.52-3.56-1.47-7.63-5.37-11.57-9.14C146.28,23.51,138.44,16,128,16s-18.27,7.51-25.18,14.14c-3.94,3.77-8,7.67-11.57,9.14C88,40.64,82.56,40.72,77.31,40.8c-9.76.15-20.82.31-28.51,8S41,67.55,40.8,77.31c-.08,5.25-.16,10.67-1.52,13.94-1.47,3.56-5.37,7.63-9.14,11.57C23.51,109.72,16,117.56,16,128s7.51,18.27,14.14,25.18c3.77,3.94,7.67,8,9.14,11.57,1.36,3.27,1.44,8.69,1.52,13.94.15,9.76.31,20.82,8,28.51s18.75,7.85,28.51,8c5.25.08,10.67.16,13.94,1.52,3.56,1.47,7.63,5.37,11.57,9.14C109.72,232.49,117.56,240,128,240s18.27-7.51,25.18-14.14c3.94-3.77,8-7.67,11.57-9.14,3.27-1.36,8.69-1.44,13.94-1.52,9.76-.15,20.82-.31,28.51-8s7.85-18.75,8-28.51c.08-5.25.16-10.67,1.52-13.94,1.47-3.56,5.37-7.63,9.14-11.57C232.49,146.28,240,138.44,240,128S232.49,109.73,225.86,102.82Zm-52.2,6.84-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z")
              //- .article-img-story
              //-   a(href=`/blog/${blog._id}`)
              //-     img.article-blog-img(src='img/local-img-1.jpg')
              a
                p
                  a.article-blog-headline(href=`/blog/${blog._id}`)= blog.heading
                p
                  a.article-text(href=`/blog/${blog._id}`)= blog.description
              .article-sub-flex
                p= blog.dateString
                p= `${blog.readTime} min read`
                p= blog.tagString
                p= `${blog.views} views`
              div
                p.trending-home-categories= blog.categoryString
        